.h2{
    margin: 50px;
    padding-left: 5%;
}

.img{
    width: 40%;
    height: 20%;
}
.p{
    padding-left: 35px;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.div{
    display: flex;
    margin: 50px;
    padding-left: 10%;
    padding-right: 10%;
}